apiVersion: batch/v1
kind: CronJob
metadata:
  name: log-rotation
  namespace: logging
spec:
  schedule: "0 */2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: logrotate-container
            image: logrotate:v1.0
            command: ["logrotate", "/etc/logrotate.conf"]
          restartPolicy: OnFailure