apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
    tier: web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend-web
  template:
    metadata:
      labels:
        app: frontend
        tier: web
        component: ui
    spec:
      containers:
      - name: frontend
        image: frontend:1.0
        ports:
        - containerPort: 80