apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: webapp
        image: webapp:latest
        resources:
          limits:
            memory: 256Mi
            cpu: 200m
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000