apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: dask-scheduler
  namespace: default
  labels:
    app: dask-scheduler
spec:
  selector:
    matchLabels:
      app: dask-scheduler
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      containers:
      - name: scheduler
        image: daskdev/dask:latest
        args:
          - dask-scheduler
        ports:
        - containerPort: 8786
          protocol: TCP
        - containerPort: 8787
          protocol: TCP
      resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: 1024M
            cpu: "1000m"