apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-sidecar-injector
  namespace: istio-system
  labels:
    app: sidecar-injector
    istio: sidecar-injector
    release: istio
data:
  config: |
    policy: disabled
    alwaysInjectSelector:
      []
    neverInjectSelector:
      - matchExpressions:
        - key: app
          operator: In
          values:
          - istio-system
      - matchExpressions:
        - key: istio-injection
          operator: In
          values:
          - disabled
    injectedAnnotations:
    template: |
      rewriteAppHTTPProbe: true
      initContainers:
      - name: istio-init
        image: docker.io/istio/proxyv2:1.18.2
        command:
        - istio-iptables
        - "-p"
        - "15001"
        - "-z"
        - "15006"
        - "-u"
        - "1337"
        - "-m"
        - "REDIRECT"
        - "-i"
        - "*"
        - "-x"
        - ""
        - "-b"
        - "*"
        - "-d"
        - "15090,15021,15020"
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 2000m
            memory: 1024Mi
          requests:
            cpu: 100m
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - NET_ADMIN
            - NET_RAW
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: false
          runAsGroup: 0
          runAsNonRoot: false
          runAsUser: 0
      containers:
      - name: istio-proxy
        image: docker.io/istio/proxyv2:1.18.2
        ports:
        - containerPort: 15090
          protocol: TCP
          name: http-envoy-prom
        args:
        - proxy
        - sidecar
        - --domain
        - $(POD_NAMESPACE).svc.cluster.local
        - --proxyLogLevel=warning
        - --proxyComponentLogLevel=misc:error
        - --log_output_level=default:info
        env:
        - name: JWT_POLICY
          value: third-party-jwt
        - name: PILOT_CERT_PROVIDER
          value: istiod
        - name: CA_ADDR
          value: istiod.istio-system.svc:15012
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: INSTANCE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: ISTIO_CPU_LIMIT
          valueFrom:
            resourceFieldRef:
              resource: limits.cpu
        - name: PROXY_CONFIG
          value: |
            {}
        - name: ISTIO_META_POD_PORTS
          value: |-
            [
            ]
        - name: ISTIO_META_APP_CONTAINERS
          value: ""
        - name: ISTIO_META_CLUSTER_ID
          value: "Kubernetes"
        - name: ISTIO_META_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: ISTIO_META_INTERCEPTION_MODE
          value: REDIRECT
        - name: ISTIO_META_WORKLOAD_NAME
          value: ""
        - name: ISTIO_META_OWNER
          value: ""
        - name: ISTIO_META_MESH_ID
          value: cluster.local
        - name: TRUST_DOMAIN
          value: cluster.local
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 2000m
            memory: 1024Mi
          requests:
            cpu: 100m
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsGroup: 1337
          runAsNonRoot: true
          runAsUser: 1337
        volumeMounts:
        - name: workload-socket
          mountPath: /var/run/secrets/workload-spiffe-uds
        - name: credential-socket
          mountPath: /var/run/secrets/credential-uds
        - name: workload-certs
          mountPath: /var/run/secrets/workload-spiffe-credentials
        - name: istiod-ca-cert
          mountPath: /var/run/secrets/istio
        - name: istio-data
          mountPath: /var/lib/istio/data
        - name: istio-envoy
          mountPath: /etc/istio/proxy
        - name: istio-token
          mountPath: /var/run/secrets/tokens
        - name: istio-podinfo
          mountPath: /etc/istio/pod
      volumes:
      - emptyDir:
          medium: Memory
        name: workload-socket
      - emptyDir:
          medium: Memory
        name: credential-socket
      - emptyDir: {}
        name: workload-certs
      - name: istiod-ca-cert
        configMap:
          name: istio-ca-root-cert
      - emptyDir:
          medium: Memory
        name: istio-envoy
      - emptyDir: {}
        name: istio-data
      - name: istio-podinfo
        downwardAPI:
          items:
          - path: labels
            fieldRef:
              fieldPath: metadata.labels
          - path: annotations
            fieldRef:
              fieldPath: metadata.annotations
      - name: istio-token
        projected:
          sources:
          - serviceAccountToken:
              path: istio-token
              expirationSeconds: 43200
              audience: istio-ca
  values: |
    {
      "global": {
        "proxy": {
          "image": "proxyv2",
          "clusterDomain": "cluster.local",
          "resources": {
            "requests": {
              "cpu": "100m",
              "memory": "128Mi"
            },
            "limits": {
              "cpu": "2000m",
              "memory": "1024Mi"
            }
          },
          "logLevel": "warning",
          "componentLogLevel": "misc:error",
          "privileged": false,
          "enableCoreDump": false,
          "statusPort": 15020,
          "readinessInitialDelaySeconds": 1,
          "readinessPeriodSeconds": 2,
          "readinessFailureThreshold": 30,
          "includeIPRanges": "*",
          "excludeIPRanges": "",
          "excludeOutboundPorts": "",
          "excludeInboundPorts": "",
          "autoInject": "enabled",
          "tracer": "zipkin"
        },
        "proxy_init": {
          "image": "proxyv2",
          "resources": {
            "limits": {
              "cpu": "2000m",
              "memory": "1024Mi"
            },
            "requests": {
              "cpu": "100m",
              "memory": "128Mi"
            }
          }
        },
        "imagePullPolicy": "IfNotPresent",
        "controlPlaneSecurityEnabled": true,
        "disablePolicyChecks": true,
        "policyCheckFailOpen": false,
        "enableTracing": true,
        "tracer": {
          "lightstep": {},
          "zipkin": {},
          "datadog": {},
          "stackdriver": {}
        },
        "mtls": {
          "enabled": false,
          "auto": true
        },
        "imagePullSecrets": [],
        "arch": {
          "amd64": 2,
          "s390x": 2,
          "ppc64le": 2
        },
        "oneNamespace": false,
        "defaultNodeSelector": {},
        "configValidation": true,
        "meshExpansion": {
          "enabled": false,
          "useILB": false
        },
        "multiCluster": {
          "enabled": false
        },
        "defaultResources": {
          "requests": {
            "cpu": "10m"
          }
        },
        "defaultPodDisruptionBudget": {
          "enabled": true
        },
        "priorityClassName": "",
        "useMCP": false,
        "trustDomain": "cluster.local",
        "meshID": "",
        "outboundTrafficPolicy": {
          "mode": "ALLOW_ANY"
        },
        "sds": {
          "token": {
            "aud": "istio-ca"
          }
        },
        "sts": {
          "servicePort": 0
        },
        "meshNetworks": {},
        "localityLbSetting": {
          "enabled": true
        },
        "enableAutoMtls": true,
        "network": "",
        "tag": "1.18.2",
        "hub": "docker.io/istio",
        "caAddress": "",
        "jwtPolicy": "third-party-jwt"
      },
      "istio_cni": {
        "enabled": false
      },
      "sidecarInjectorWebhook": {
        "enableNamespacesByDefault": false,
        "objectSelector": {
          "enabled": false,
          "autoInject": true
        },
        "rewriteAppHTTPProbe": true,
        "alwaysInjectSelector": [],
        "neverInjectSelector": [],
        "injectedAnnotations": {},
        "templates": {}
      },
      "revision": "",
      "ownerName": "",
      "compatibilityVersion": "1.18"
    }