apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod
namePrefix: prod-

resources:
  - ../../base

commonLabels:
  environment: production

replicas:
  - name: app-deployment
    count: 3
  - name: app-deployment
    count: 5

patchesStrategicMerge:
  - deployment-patch.yaml
  - service-patch.yaml
  - ../../overlays/dev/deployment-patch.yaml

patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: app-deployment
    path: nonexistent-patch.json