apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: data-tier-default-deny
  namespace: data-tier
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
  ingress: []
  egress: []