apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
    tier: gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
      tier: gateway
  template:
    metadata:
      labels:
        app: apigateway
        tier: gateway
        version: v1
    spec:
      containers:
      - name: api-gateway
        image: api-gateway:2.0
        ports:
        - containerPort: 8080