apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  labels:
    app: database
    tier: data
    type: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
      tier: data
  template:
    metadata:
      labels:
        app: database
        tier: data
        type: postgres
        storage: persistent
    spec:
      containers:
      - name: postgres
        image: postgres:13
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          value: secretpass