apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
spec:
  template:
    spec:
      containers:
      - name: app
        image: myapp:staging-v2
        env:
        - name: ENVIRONMENT
          value: staging