apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: nginx:1.21
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /health
            port: "80"
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSecond: 5
          successThreshold: 1
          failureThreshold: 3