api_key: abcd1234efgh5678ijkl9012mnop3456
site: datadoghq.com
hostname: production-server-01

tags:
  - env:production
  - service:web
  - team:platform
  - datacenter:us-east-1

log_level: info

logs_enabled: true

logs_config:
  container_collect_all: false
  processing_rules: []

apm_config:
  enabled: true
  apm_non_local_traffic: false
  max_traces_per_second: 10

process_config:
  enabled: true
  intervals:
    container: 10
    container_realtime: 2
    process: 10
    process_realtime: 2

dogstatsd_config:
  dogstatsd_port: 8125
  dogstatsd_non_local_traffic: false

check_runners: 4

min_collection_interval: 1

forwarder_timeout: 20
forwarder_retry_queue_max_size: 30

logs:
  - type: file
    path: /var/log/application/*.log
    service: web-app
    source: python
    tags:
      - env:production

  - type: file
    path: /var/log/nginx/access.log
    service: nginx
    source: nginx
    tags:
      - env:production

  - type: file
    path: /var/log/nginx/error.log
    service: nginx
    source: nginx
    log_processing_rules:
      - type: multi_line
        name: new_log_start_with_date
        pattern: \d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])

skip_ssl_validation: false

histogram_percentiles:
  - 0.95
  - 0.99

aggregation_interval: 10

cloud_provider_metadata:
  - aws

collect_ec2_tags: true