apiVersion: batch/v1
kind: CronJob
metadata:
  name: health-check
spec:
  schedule: '*/5 * *'
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: healthcheck
            image: health:v1
          restartPolicy: OnFailure