cluster_name: 'broken-ray-cluster'

max_workers: 10

upscaling_speed: 2.0

idle_timeout_minutes: 1

provider:
  type: aws
  region: us-east-1
  availability_zone: us-east-1z

auth:
  ssh_user: ubuntu
  ssh_private_key: /path/to/nonexistent/key.pem

available_node_types:
  head_node:
    node_config:
      InstanceType: t3.large
      ImageId: ami-xxxxx
      KeyName: ray-autoscaler-key
      BlockDeviceMappings:
        - DeviceName: /dev/sda1
          Ebs:
            VolumeSize: 50
            VolumeType: gp3
    resources:
      CPU: 2
    min_workers: 1
    max_workers: 1
    
  worker_node:
    node_config:
      InstanceType: t2.micro
      ImageId: ami-xxxxx
      KeyName: ray-autoscaler-key
      InstanceMarketOptions:
        MarketType: spot
        SpotOptions:
          MaxPrice: '0.05'
          SpotInstanceType: persistent
          InstanceInterruptionBehavior: terminate
      BlockDeviceMappings:
        - DeviceName: /dev/sda1
          Ebs:
            VolumeSize: 50
            VolumeType: gp3
      SecurityGroupIds:
        - sg-incomplete
      IamInstanceProfile:
        Arn: incomplete-arn-reference
    resources:
      CPU: 1
    min_workers: 1
    max_workers: 3

head_node_type: head_node

worker_default_node_type: worker_node

target_utilization_fraction: 0.5

docker:
  image: rayproject/ray:latest
  container_name: ray_container

setup_commands:
  - echo 'export PATH="$HOME/anaconda3/envs/tensorflow_p36/bin:$PATH"' >> ~/.bashrc

head_setup_commands:
  - pip install --upgrade pip

worker_setup_commands:
  - pip install --upgrade pip

head_start_ray_commands:
  - ray stop
  - ulimit -n 65536; ray start --head --port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml

worker_start_ray_commands:
  - ray stop
  - ulimit -n 65536; ray start --address=$RAY_HEAD_IP:6379 --object-manager-port=8076