version: '3.8'

services:
  web:
    image: myapp/web:latest
    ports:
      - "80:80"
    depends_on:
      - worker
    networks:
      - app-network

  worker:
    image: myapp/worker:latest
    networks:
      - app-network

networks:
  app-network:
    driver: bridge