apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: app-tier-ingress-policy
  namespace: app-tier
spec:
  podSelector:
    matchLabels:
      app: frontend
      tier: application
  policyTypes:
  - Ingress
  ingress:
  - {}