apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
      tier: ui
  template:
    metadata:
      labels:
        app: frontend-web
        tier: presentation
        component: ui
    spec:
      containers:
      - name: frontend
        image: frontend:2.0
        ports:
        - containerPort: 3000